html {
  body {
    .section {
      .events {
        margin-top: 0;
        .wrapper {
          margin-top: 0;
        }
        .side-bar{
          margin-top: 1.6rem;
          h4{
            font-size: 1.3rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
