.home {
  .welcome {
    margin-top: 20rem;
    &__image{
      background-image: url('/images/pages/dog-home-mobile.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 330px;
      background-position: center;
      .try-text {
        position: absolute;
        top: -18%;
        text-align: center;
        p {
          padding: 0 1rem;
          padding-bottom: 2rem;
        }
      }
    }
    &__text {
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    &__bkg {
      height: 32.4375rem;
      background-color: #e2ecf6;
      .about {
        .title {
          text-transform: uppercase;
          text-align: center;
        }
        &__box {
          position: relative;
          margin-bottom: 1.5rem;
        }
        &__text {
          width: 90%;
          margin: 0 auto;
        }
        &__image {
          background-image: url('/images/pages/samuel-thompson-501755-unsplash.jpg');
          background-position: right 44%;
          background-repeat: no-repeat;
          background-size: 40%;
          height: 360px;
          display: none;
        }
        &__bottom-box {
          .bk-image {
            position: relative;
            background-image: url('/images/pages/taylor-grote-347608-unsplash.jpg');
            background-position: left 44%;
            background-repeat: no-repeat;
            background-size: 80%;
            background-size: contain;
            background-position: center;
            height: 360px;
            z-index: 1000;
            margin-bottom: 1.5rem;
          }
          .text {
            width: 90%;
            margin: 0 auto;
          }
        }
      }
    }
    &__bkg-bottom {
      position: relative;
      background-image: url('/images/pages/dog-home-bottom.png');
      background-repeat: no-repeat;
      height: 10rem;
      z-index: 10;
    }
    .modal {
      z-index: 1001;
      .modal-background {
        background-color: $skc-calypso;
      }
      .modal-content {
        .register-form {
          .field {
            .field-label {
              .label {
                text-align: left;
                color: $skc-link_water;
              }
            }
            .field-body {
              width: 100%;
              .field {
                p.control {
                  padding-left: 0;
                  padding-bottom: 0;
                }
                p.help {
                  padding: 0;
                  font-size: 1rem;
                  text-align: left;
                  color: $skc-link_water;
                }
              }
            }
          }
        }
      }
    }
  }
}

.events {
  h1.title {
    text-align: center;
    text-transform: uppercase;
  }
  margin-top: 12rem;
  figure {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: $white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: all 0.35s ease-in-out;
    cursor: pointer;
    &:hover {
      background: $skc-black;
      transition: all 0.35s ease-in-out;
    }
    img {
      opacity: 0.25;
      max-width: 100%;
      position: relative;
      top: 0;
      left: 0;
    }
    * {
      transition: all 0.35s ease-in-out;
    }
    a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }
    figcaption {
      position: absolute;
      top: 50%;
      left: 30px;
      right: 30px;
      &::before, &::after {
        -webkit-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
      &::before {
        left: 0;
        top: 0;
      }
      &::after{
        bottom: 0;
        right: 0;
      }
      h3 {
        top: 50%;
        letter-spacing: -1px;
        color: $skc-black;
        text-transform: uppercase;
        padding: 10px 0;
        margin: 0;
        font-weight: 400;
      }
    }
  }

  figure:hover figcaption:before,
  figure:hover figcaption:after {
    width: 200%;
  }
  figure:hover figcaption h3 {
    color: $white;
  }

}

.news {
  margin-top: 15rem;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='649.068px' height='54px' viewBox='0 0 649.068 54' enable-background='new 0 0 649.068 54' xml:space='preserve'><polyline fill='%23E2ECF6' points='648.614,-16.923 648.597,7.53 0,45.084 0.046,-16.922'/></svg>");
  background-repeat: no-repeat;
  background-size: cover;
  // height: 360px;
  .column {
    padding: 1.75rem;
    .post{
      margin-top: -80px;
      margin-bottom: 100px;
      .card-content {
        .media {
          .media-content {
            .title.article-title {
              margin-bottom: 0;
            }
          }
        }
        .card-image {
          border: 2px solid $skc-link_water;
          border-bottom: none;
          // box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.75);
        }
        .content.article-body {
          border: 2px solid $skc-link_water;
          border-top: none;
          // box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.75);
          p {
            padding: 1rem;
          }
        }
      }
    }
  }
}
