.home {
  .welcome {
    margin-top: 7rem;
    &__image{
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      text-align: center;

      .try-text {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 3rem;
        text-align: justify;
        p {
          padding: 0 1rem 2rem 1rem;
        }
      }
    }
    &__text {
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem;
      text-align: justify;
    }
    &__bkg {
      margin-top: -7px;
      height: 46.4375rem;
      background-color: #e2ecf6;
      position: sticky;
      z-index: 22;
      .about {
        .title {
          padding-top: 3rem;
          text-transform: uppercase;
          text-align: center;
        }
        &__box {
          &--left {
            .text {
              width: 80%;
              margin: 0 auto;
              text-align: justify;
            }
            .image {
              background-image: url('/images/pages/taylor-grote-347608-unsplash.jpg');
              background-position: left 44%;
              background-repeat: no-repeat;
              background-size: 80%;
              background-size: contain;
              background-position: center;
              height: 360px;
              margin-top: 1.5rem;
            }
          }
          &--right {
            .text {
              width: 90%;
              margin: 0 auto;
              text-align: justify;
            }
            .image {
              display: none;
            }
          }
        }
        hr {
          transform: rotate(90deg);
          margin: 0;
          width: 130px;
          position: absolute;
          left: 45%;
          top: -52px;
          background-color: #2b7386;
        }
        hr.long-line {
          width: 200px;
              left: 35.7%;
        }
      }
    }

    &__right-paw {
      position: absolute;
      right: 2px;
      top: 18%;
      filter: opacity(0.2);
      &--bottom {
        position: absolute;
        right: -12px;
        top: 88%;
        filter: opacity(0.2);
        z-index: 1;
      }
    }

    &__left-paw {
      position: absolute;
      left: 10%;
      top: 40%;
      z-index: -10;
      &--bottom {
        position: absolute;
        left: 10%;
        top: 80%;
        z-index: -10;
        filter: opacity(0.2);
      }
    }

    &__bkg-top {
      margin-top: -8.3%;
    }

    &__bkg-bottom {
      margin-top: -2px;
    }

    .modal {
      z-index: 1001;
      .modal-background {
        background-color: $skc-calypso;
        background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 270.5 246.5' style='enable-background:new 0 0 270.5 246.5;fill:none;stroke:%23a0acb1;stroke-miterlimit:10;opacity:0.5;' xml:space='preserve'%3e%3cg%3e%3cpath class='st0' d='M103.8,115.6c1.8-0.7,3.1-2.4,3.1-4.5c0-2.7-2.2-4.8-4.8-4.8c-2.6,0-4.7,2.1-4.8,4.7H68.9 c-0.1-2.6-2.2-4.7-4.8-4.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.1,1.3,3.8,3.1,4.5c-1.8,0.7-3.1,2.4-3.1,4.5c0,2.7,2.2,4.8,4.8,4.8 s4.8-2.2,4.8-4.8c0-0.2,0-0.3-0.1-0.5h28.4c0,0.2-0.1,0.3-0.1,0.5c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8 C106.9,118,105.6,116.3,103.8,115.6z'/%3e%3cpath class='st0' d='M165.2,74.5c1.8-0.7,3.1-2.4,3.1-4.5c0-2.7-2.2-4.8-4.8-4.8c-2.6,0-4.7,2.1-4.8,4.7h-28.4 c-0.1-2.6-2.2-4.7-4.8-4.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.1,1.3,3.8,3.1,4.5c-1.8,0.7-3.1,2.4-3.1,4.5c0,2.7,2.2,4.8,4.8,4.8 c2.7,0,4.8-2.2,4.8-4.8c0-0.2,0-0.3-0.1-0.5h28.4c0,0.2-0.1,0.3-0.1,0.5c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8 C168.3,77,167,75.2,165.2,74.5z'/%3e%3cpath class='st0' d='M52.2,82.2c1.8-0.7,3.1-2.4,3.1-4.5c0-2.7-2.2-4.8-4.8-4.8c-2.6,0-4.7,2.1-4.8,4.7H17.3 c-0.1-2.6-2.2-4.7-4.8-4.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.1,1.3,3.8,3.1,4.5c-1.8,0.7-3.1,2.4-3.1,4.5c0,2.7,2.2,4.8,4.8,4.8 s4.8-2.2,4.8-4.8c0-0.2,0-0.3-0.1-0.5h28.4c0,0.2-0.1,0.3-0.1,0.5c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8 C55.3,84.6,54,82.9,52.2,82.2z'/%3e%3cpath class='st0' d='M161.6,6c-0.7-1.8-2.4-3.1-4.5-3.1c-2.7,0-4.8,2.2-4.8,4.8c0,2.6,2.1,4.7,4.7,4.8v28.4 c-2.6,0.1-4.7,2.2-4.7,4.8c0,2.7,2.2,4.8,4.8,4.8c2.1,0,3.8-1.3,4.5-3.1c0.7,1.8,2.4,3.1,4.5,3.1c2.7,0,4.8-2.2,4.8-4.8 s-2.2-4.8-4.8-4.8c-0.2,0-0.3,0-0.5,0.1V12.5c0.2,0,0.3,0.1,0.5,0.1c2.7,0,4.8-2.2,4.8-4.8s-2.2-4.8-4.8-4.8 C164,2.9,162.3,4.2,161.6,6z'/%3e%3cpath class='st0' d='M70.9,45c-1.8-0.8-3.9-0.5-5.4,1c-1.9,1.9-1.9,4.9,0,6.8c1.8,1.8,4.8,1.9,6.7,0.1L92.3,73 c-1.8,1.9-1.7,4.9,0.1,6.7c1.9,1.9,4.9,1.9,6.8,0c1.5-1.5,1.8-3.6,1-5.4c1.8,0.8,3.9,0.5,5.4-1c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0c-0.1,0.1-0.2,0.3-0.3,0.4L78.3,46.8c0.1-0.1,0.3-0.2,0.4-0.3c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0C70.4,41.1,70.1,43.3,70.9,45z'/%3e%3cpath class='st0' d='M28.9,133c-1.8-0.8-3.9-0.5-5.4,1c-1.9,1.9-1.9,4.9,0,6.8c1.8,1.8,4.8,1.9,6.7,0.1L50.3,161 c-1.8,1.9-1.7,4.9,0.1,6.7c1.9,1.9,4.9,1.9,6.8,0c1.5-1.5,1.8-3.6,1-5.4c1.8,0.8,3.9,0.5,5.4-1c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0c-0.1,0.1-0.2,0.3-0.3,0.4l-20.1-20.1c0.1-0.1,0.3-0.2,0.4-0.3c1.9-1.9,1.9-4.9,0-6.8s-4.9-1.9-6.8,0 C28.4,129.1,28.1,131.3,28.9,133z'/%3e%3cpath class='st0' d='M195.9,14c-1.8-0.8-3.9-0.5-5.4,1c-1.9,1.9-1.9,4.9,0,6.8c1.8,1.8,4.8,1.9,6.7,0.1L217.3,42 c-1.8,1.9-1.7,4.9,0.1,6.7c1.9,1.9,4.9,1.9,6.8,0c1.5-1.5,1.8-3.6,1-5.4c1.8,0.8,3.9,0.5,5.4-1c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0c-0.1,0.1-0.2,0.3-0.3,0.4l-20.1-20.1c0.1-0.1,0.3-0.2,0.4-0.3c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0C195.4,10.1,195.1,12.3,195.9,14z'/%3e%3cpath class='st0' d='M155.8,204.6c1.8-0.7,3.1-2.4,3.1-4.5c0-2.7-2.2-4.8-4.8-4.8c-2.6,0-4.7,2.1-4.8,4.7h-28.4 c-0.1-2.6-2.2-4.7-4.8-4.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.1,1.3,3.8,3.1,4.5c-1.8,0.7-3.1,2.4-3.1,4.5c0,2.7,2.2,4.8,4.8,4.8 s4.8-2.2,4.8-4.8c0-0.2,0-0.3-0.1-0.5h28.4c0,0.2-0.1,0.3-0.1,0.5c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8 C158.9,207,157.6,205.3,155.8,204.6z'/%3e%3cpath class='st0' d='M234.2,138.5c1.8-0.7,3.1-2.4,3.1-4.5c0-2.7-2.2-4.8-4.8-4.8c-2.6,0-4.7,2.1-4.8,4.7h-28.4 c-0.1-2.6-2.2-4.7-4.8-4.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.1,1.3,3.8,3.1,4.5c-1.8,0.7-3.1,2.4-3.1,4.5c0,2.7,2.2,4.8,4.8,4.8 s4.8-2.2,4.8-4.8c0-0.2,0-0.3-0.1-0.5h28.4c0,0.2-0.1,0.3-0.1,0.5c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8 C237.3,141,236,139.2,234.2,138.5z'/%3e%3cpath class='st0' d='M267.2,177.5c1.8-0.7,3.1-2.4,3.1-4.5c0-2.7-2.2-4.8-4.8-4.8c-2.6,0-4.7,2.1-4.8,4.7h-28.4 c-0.1-2.6-2.2-4.7-4.8-4.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.1,1.3,3.8,3.1,4.5c-1.8,0.7-3.1,2.4-3.1,4.5c0,2.7,2.2,4.8,4.8,4.8 s4.8-2.2,4.8-4.8c0-0.2,0-0.3-0.1-0.5h28.4c0,0.2-0.1,0.3-0.1,0.5c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8 C270.3,180,269,178.2,267.2,177.5z'/%3e%3cpath class='st0' d='M109.2,178.2c1.8-0.7,3.1-2.4,3.1-4.5c0-2.7-2.2-4.8-4.8-4.8c-2.6,0-4.7,2.1-4.8,4.7H74.3 c-0.1-2.6-2.2-4.7-4.8-4.7c-2.7,0-4.8,2.2-4.8,4.8c0,2.1,1.3,3.8,3.1,4.5c-1.8,0.7-3.1,2.4-3.1,4.5c0,2.7,2.2,4.8,4.8,4.8 s4.8-2.2,4.8-4.8c0-0.2,0-0.3-0.1-0.5h28.4c0,0.2-0.1,0.3-0.1,0.5c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8 C112.3,180.6,111,178.9,109.2,178.2z'/%3e%3cpath class='st0' d='M197.6,169c-0.7-1.8-2.4-3.1-4.5-3.1c-2.7,0-4.8,2.2-4.8,4.8c0,2.6,2.1,4.7,4.7,4.8v28.4 c-2.6,0.1-4.7,2.2-4.7,4.8c0,2.7,2.2,4.8,4.8,4.8c2.1,0,3.8-1.3,4.5-3.1c0.7,1.8,2.4,3.1,4.5,3.1c2.7,0,4.8-2.2,4.8-4.8 s-2.2-4.8-4.8-4.8c-0.2,0-0.3,0-0.5,0.1v-28.4c0.2,0,0.3,0.1,0.5,0.1c2.7,0,4.8-2.2,4.8-4.8s-2.2-4.8-4.8-4.8 C200,165.9,198.3,167.2,197.6,169z'/%3e%3cpath class='st0' d='M127.9,141c-1.8-0.8-3.9-0.5-5.4,1c-1.9,1.9-1.9,4.9,0,6.8c1.8,1.8,4.8,1.9,6.7,0.1l20.1,20.1 c-1.8,1.9-1.7,4.9,0.1,6.7c1.9,1.9,4.9,1.9,6.8,0c1.5-1.5,1.8-3.6,1-5.4c1.8,0.8,3.9,0.5,5.4-1c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0c-0.1,0.1-0.2,0.3-0.3,0.4l-20.1-20.1c0.1-0.1,0.3-0.2,0.4-0.3c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0C127.4,137.1,127.1,139.3,127.9,141z'/%3e%3cpath class='st0' d='M231.9,209c-1.8-0.8-3.9-0.5-5.4,1c-1.9,1.9-1.9,4.9,0,6.8c1.8,1.8,4.8,1.9,6.7,0.1l20.1,20.1 c-1.8,1.9-1.7,4.9,0.1,6.7c1.9,1.9,4.9,1.9,6.8,0c1.5-1.5,1.8-3.6,1-5.4c1.8,0.8,3.9,0.5,5.4-1c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0c-0.1,0.1-0.2,0.3-0.3,0.4l-20.1-20.1c0.1-0.1,0.3-0.2,0.4-0.3c1.9-1.9,1.9-4.9,0-6.8 c-1.9-1.9-4.9-1.9-6.8,0C231.4,205.1,231.1,207.3,231.9,209z'/%3e%3c/g%3e%3c/svg%3e");
        background-size: 15%;
      }
      .modal-content {
        font-family: $skc-font-family;
        .register-form {
          .field {
            .field-label {
              .label {
                text-align: left;
                color: $skc-link_water;
                font-size: 1.18rem;
              }
            }
            .field-body {
              width: 100%;
              .field {
                p.control {
                  padding-left: 0;
                  padding-bottom: 0;
                }
                p.help {
                  padding: 0;
                  font-size: 1rem;
                  text-align: left;
                  color: $skc-link_water;
                }
              }
            }
          }
          .button.is-primary {
            background-color: $skc-black;
          }
        }
      }
      .custom-align {
        justify-content: flex-end;
      }
    }
  }
}

.events {
  margin-top: 12rem;

  h1.title {
    text-align: center;
    text-transform: uppercase;
  }

  .wrapper {
    margin: 2em auto;
    max-width: 970px;
    position: relative;
    z-index: 26;
    .masonry {
      display: flex;
      width: 100%;
      margin-left: -8px;
      flex-flow: row wrap;

      &__brick {
        position: relative;
        overflow: hidden;
        // border-radius: 5px;
        margin: 0 0 8px 8px;
        color: white;
        flex: auto;
        height: 250px;
        min-width: 150px;

        text-align: center;
        background: $white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        transition: all 0.35s ease-in-out;
        cursor: pointer;

        &:hover {
          background: $skc-black;
          transition: all 0.35s ease-in-out;
        }

        * {
          transition: all 0.35s ease-in-out;
        }

        a {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
        }

        figcaption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
          &::before, &::after {
            -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
          }
          &::before {
            left: 0;
            top: 0;
          }
          &::after{
            bottom: 0;
            right: 0;
          }
          h4 {
            letter-spacing: 1px;
            color: $skc-black;
            text-transform: uppercase;
            padding: 10px 0;
            margin: 0;
            font-weight: $weight-bold;
          }
        }

      }

      &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        // filter: brightness(50%);
        opacity: 0.25;
        position: relative;
        top: 0;
        left: 0;
      }
      img {
        vertical-align: middle;
        max-width: 100%;
      }
    }
  }


  .masonry__brick:hover figcaption:before,
  .masonry__brick:hover figcaption:after {
    width: 200%;
  }
  .masonry__brick:hover figcaption h4 {
    color: $white;
  }

}

.news {
  margin-top: 8rem;
  margin-bottom: 6rem;

  &__bk {
    height: 100%;
    // height: 70rem;
    background-color: #e2ecf6;
    margin-top: -2%;
    margin-bottom: -1%;
    position: relative;
  }

  &__box {
    padding: 1.75rem;

    .post{
      position: relative;
      margin-top: -80px;
      margin-bottom: 100px;
      z-index: 10;
      &__poster {
        img {
          height: 300px;
          border-radius: 4px 4px 0 0;
        }
      }

      &__content {
        min-height: 100px;
        height: 270px;
        min-width: 50%;
        max-width: 100%;
        border-radius: 4px;
        box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
        transition: .6s ease;
        background: $white;
        text-align: center;
        padding: 0;

        .tags {
          padding: 2% 4%;
          margin: 0;
          .tag {
            color: $skc-calypso;
            background-color: transparent;
            margin: 0;
            padding: 0;
            font-family: $skc-font-family;
          }
        }

        h2 {
          font-size: 1.5rem;
          text-align: -webkit-left;
          letter-spacing: 1px;
          margin: 2% 4%;
          font-family: $skc-font-family;
        }
        hr {
          width: 30%;
          border: 0;
          border-bottom: 1px solid #E6E9EC;
          margin: 1rem auto;
          // margin-top: 1rem;
          // margin-bottom: 1rem;
        }
        &--body {
          margin-bottom: 3rem;
          p{
            margin: 2% 4%;
            text-align: -webkit-left;
            padding-bottom: 1%;
            line-height: 1.25rem;
            letter-spacing: 1px;
            // font-size: 1.1rem;
            font-family: $skc-font-family;
          }
        }
        .skc-btn {
              padding: 10px;
        }
      }

    }
  }
  &__right-paw {
    position: absolute;
    right: 0;
    bottom: 45%;
    z-index: 8;
    filter: opacity(0.2);
    &--bottom {
      position: absolute;
      right: 0;
      top: 59%;
      z-index: 2;
      filter: opacity(0.2);
    }
  }
}

.title {
  font-weight: $weight-bold;
}

@include tablet {
  .home {
    .welcome {
      &__image{
        .try-text {
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          display: flex;
          flex-direction: column;
          h2 {
            align-self: end;
            margin-bottom: 1rem;
            font-size: 2.7rem;
          }
          p {
            padding: 0 4rem 2rem 0;
            text-align: left;
            align-self: end;
          }
          .skc-btn {
            align-self: center;
          }
        }
      }

      &__bkg {
        height: 48.4375rem;

        .about {
          .title {
            margin-bottom: 4.5rem;
          }
          &__box {
            &--right {
              .image {
                background-image: url('/images/pages/samuel-thompson-501755-unsplash.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 360px;
                margin-bottom: 1rem;
                display: block;
              }
            }
          }
          hr.long-line {
            display: none;
          }
        }

      }
      &__bkg-top {
        margin-top: -7.8%;
      }
      &__bkg-bottom {
      }
      .modal {
        z-index: 1001;
        .modal-background {
          background-color: $skc-calypso;
        }
        .modal-content {
          .register-form {
            .field {
              .field-label {
                .label {
                  text-align: left;
                  color: $skc-link_water;
                }
              }
              .field-body {
                width: 100%;
                .field {
                  p.control {
                    padding-left: 0;
                    padding-bottom: 0;
                  }
                  p.help {
                    padding: 0;
                    font-size: 1rem;
                    text-align: left;
                    color: $skc-link_water;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .events {
    .wrapper {
      width: 90%;
      .masonry {
        &__brick {

          &:nth-child(4n+1){
            width: 280px;
          }

          &:nth-child(2n+2){
            width: 200px;
           }

          &:nth-child(4n+3){
            width: 155px;
          }
        }
      }
    }
  }

  .news {
    &__box {
      max-width: 1104px;
      margin: 0 auto;

      .post{
        &__content {
              height: 330px;
        }
      }
    }
  }

}

@include desktop {

  .home {
    .container {
      max-width: 100%;
      width: 100%;
    }
    .welcome {
      &__image{
        flex-direction: row;
        .try-text {
          top: 40px;
          right: 110px;
          width: 40%;
          width: 30%;
          margin: 0;
          h2 {
          }
          p {
            padding: 0 0rem 2rem 0;
          }
          .skc-btn {
            align-self: flex-end;
          }
        }
      }
      &__bkg {
        margin-top: -23px;
        .about {
          &__box {
            &--left{
              .image {
                background-image: url('/images/pages/taylor-grote-347608-unsplash.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 50%;
                height: 360px;
                display: block;
                margin-top: 3rem;
              }
              .text {
                width: 70%;
                margin: 0 auto 0 10rem;
              }
            }
            &--right {
              .image {
                display: block;
                background-image: url('/images/pages/samuel-thompson-501755-unsplash.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 50%;
                height: 360px;
                margin-bottom: 3rem;
              }
              .text {
                width: 50%;
                margin: 0 auto;
              }
            }
          }
        }
        hr.long-line {
          display: block;
        }
      }
      &__bkg-top {
        margin-top: -6.3%;
      }

      &__bkg-bottom {
      }

      .modal {
        z-index: 1001;
        .modal-background {
          background-color: $skc-calypso;
        }
        .modal-content {
          .register-form {
            .field {
              .field-label {
                .label {
                  text-align: left;
                  color: $skc-link_water;
                }
              }
              .field-body {
                width: 100%;
                .field {
                  p.control {
                    padding-left: 0;
                    padding-bottom: 0;
                  }
                  p.help {
                    padding: 0;
                    font-size: 1rem;
                    text-align: left;
                    color: $skc-link_water;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .events {
    .wrapper {
      margin: 2em auto;
      max-width: 1024px;
      .masonry {
        &__brick {
          max-width: 420px;

          &:nth-child(5n+1){
            width: 325px;
          }

          &:nth-child(2n+2){
            width: 250px;
           }

          &:nth-child(4n+3){
            width: 180px;
          }

          // &:nth-child(4n+1){
          //   width: 250px;
          //  }
          //  &:nth-child(4n+2){
          //     width: 325px;
          //  }
          //  &:nth-child(4n+3){
          //     width: 180px;
          //  }
          //  &:nth-child(4n+4){
          //     width: 380px;
          //  }
        }
      }
    }

  }

  .news {
    &__bk {
      height: 100%;
      // height: 70rem;
      background-color: #e2ecf6;
      margin-top: -1%;
      margin-bottom: -1%;
    }
    &__box {
      max-width: 1104px;
      margin: 0 auto;
    }
  }

}
