
html {

	.has-dropdown {
		.navbar-dropdown {
			background-color: $skc-black;
		}
	}

	.management-area {
		position: absolute;
		top: 4rem;
		left: 200px;
		right: 0;
		.flex-container {
			margin: 10px 25px;
		}
		.card {
			// box-shadow: none;
		}
		.button.is-primary.backend-btn {
			background-color: $skc-black;
			span.icon {
				margin-right: 10px;
			}
		}
		.action-content {
			text-align: center;

			span.icon {
				width: 40px;
				margin: 0 auto;
			}
		}
		.gallery-card {
			.card {
				box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
				.card-content {
					.media {
						.media-content {
							h4 {
								margin-bottom: 0.1rem;
    						margin-top: 0;
							}
							p.title {
								margin-bottom: 0.1rem;
							}
							time {
								font-size: 16px;
								font-family: $skc-font-family;
							}
							nav {
								margin-top: 8px;
								.column {
									a {
										span.icon {
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.role-box {
			.box {
				.media {
					.media-content {
						nav {
							a {
								span.icon {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}

		.side-card {
			.card {
				.card-footer {
					.card-footer-item {
						    text-align: center;
						a {
							span.icon {
								width: 40%;
						    margin: 0 auto;
						    vertical-align: middle;
							}
						}
					}
				}
			}
		}

	}
}

#admin-side-menu {
	position: fixed;
	top: 4rem;
	bottom: 0;
	left: -200px;
	// height: 100vh;
	width: 200px;
	background-color: white;
	overflow-y: auto;
	transition: left 0.3s ease-in-out;
	&.is-active {
		transition: left 0.3s ease-in-out;
		left: 0;
	}

	aside.menu {
    border-right: 1px solid #dbdbdb;
		// font-family: $skc-font-family;
		.menu-list {
			// font-size: 1rem;
	    // font-weight: 500;
		}
	}

	@include desktop {
		left: 0;
		overflow-y: hidden;
	}
}

#admin-slideout-button {
	transition: 0.3s;
	&.is-active {
		transition: 0.3s;
		transform: rotateY(180deg);
	}

}


.pagination-link.is-current {
	background-color: $turquoise;
  border-color: $turquoise;
}

.pagination-previous, .pagination-next, .pagination-link {
	color: $turquoise;
}

.submenu {
	max-height:0;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.menu-list li ul.submenu {
	margin-top: 0;
	margin-bottom: 0;
}

.menu-list a.is-active {
	background-color: transparent;
	font-weight: bolder;
	text-decoration: line-through solid $skc-black;
	color: $skc-black;
}

.title.is-admin {
	font-weight: 300;
}

.widget-area {
	min-height: 75px;
	padding: 10px;
	border-bottom: 1px solid whitesmoke;
	&.author-widget {
		.selected-author {
			display: flex;
			align-content: flex-start;

			img{
				border-radius:25px;
			}
			.author {
				margin: auto 0 auto 10px;
				.subtitle {
					font-weight: 300;
					font-size: 0.8em;
				}
			}
		}
	}

	&.post-status-widget {
		.status {
			display: flex;
      		align-content: flex-start;

      		.status-icon {
      			min-width: 50px;
		        .icon {
		          width: 100%;
		          i {
		            text-align: center;
		          }
		        }
      		}
      		.status-details {
        		margin-left: 10px;
        		h4 {
        			font-weight: 400;
		          	span.status-emphasis {
		            	font-weight: 800;
		          	}
		        }
		        p {
		        	font-weight: 300;
          			font-size: 0.8em;
        		}
			}
		}
	}
	&.publish-buttons-widget {
		display: flex;
    	min-height: 50px;
    	.primary-action-button, .secondary-action-button {
    		flex: 1;
      		margin: 0 5px;
    	}
  	}
}

.custom-box {
	background-color: whitesmoke;
	color: #4a4a4a;
	padding: 1.25rem 1.5rem;
}

.navbar-item.has-dropdown:hover .navbar-link {
	background-color: $skc-black;
}
