html {
	// background-color: whitesmoke;
	.has-dropdown {
		position: relative;

		.navbar-dropdown {
			display: none;
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 1000;
			background-color: white;
			min-width: 200px;
			text-align: left;
			box-shadow: 0 0 1px rgba(57, 70, 78, 0.15), 0 20px  55px -8px rgba(57, 70, 78, 0.150);

			li {
				&.seperator {
					border-top: 1px solid #ccc;
					margin: 5px 0;
				}
				&>a {
					margin: 5px 0;
					padding: 5px 0 5px 10px;
					display: block;
					color: #4a4a4a;
					&:hover {
						background-color: whitesmoke;
						cursor: pointer;
					}
				}
			}
		}
		&.is-aligned-right .navbar-dropdown {
			right: 0;
			left: auto;
		}
		&.is-open .navbar-dropdown {
			display: block;
		}
	}
}

.navbar-burger {
	border: none;
	background-color: transparent;
  color: $white;
	&:hover {
		background-color: transparent;
		color: $white;
	}
	&:focus {
		border: none;
		color: $white;
	}
	&:focus:not(:active) {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.input.is-primary,
.taginput .is-primary.taginput-container.is-focusable,
.textarea.is-primary,
.select.is-primary select,
.block .border[data-v-5c309fe1],
.block .border[data-v-216efce6] {
	border-color: $skc-calypso;
}

.select.is-primary:not(:hover)::after,
.navbar-link::after {
    border-color: $skc-calypso;
}

.b-checkbox.checkbox input[type=checkbox]:checked + .check {
    background-color: $skc-calypso;
    border-color: $skc-calypso;
	}

.b-radio.radio input[type=radio] + .check:before {
	background: $skc-calypso;
}
.b-radio.radio input[type=radio]:checked + .check {
	border-color: $skc-calypso;
}
