.navbar {
  background-color: $skc-black;
  .container {
    .navbar-brand {
      .logo {
        &:hover {
          color: $grey-darker;
        }
        &__text {
          margin-left: 0.5rem;
          color: $white;
        }
        @include mobile {
          margin-left: 1rem;
        }
      }
    }
  }
}

.footer {
  background-color: $skc-black;
      margin-top: 12rem;
  p {
    color: $white;
    a {
        color: $white;
        &:hover {
          color: $white;
        }
    }
  }
}
